<h1>Olá {{nome}}!</h1>
<p>Recebemos uma solicitação de redefinição de senha.</p>
<p>Use este token para resetar sua senha:</p>
<p><b>{{token}}</b></p>
<p>O token expira em 15 minutos.</p>
<p>Se você não solicitou, ignore este e-mail.</p>