@import "tailwindcss";

@font-face {
    font-family: "lato";
    src: url(/Lato/Lato-Regular.ttf);
}

* {
    font-family: "lato", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /*Fundo principal*/
    --color-branco-suave: #F9FAFB;

    /*Bordas / divisores*/
    --color-cinza-claro: #E5E7EB;

    /*Texto principal*/
    --color-cinza-escuro: #1F2937;

    /*Texto secundário*/
    --color-cinza-medio: #6B7280;


    --color-green-deep: #1B5E20;

    /*Acento (ações, alertas leves)*/
    --color-green: #66BB6A;

    /*Primária (branding, botões principais)*/
    --color-blue: #1565C0;

    --color-blue-claro: #38BDF8;    
    --color-blue-light: #38bff838;

    /*Pressão do Ar             */
    --color-roxo-cuave: #8B5CF6;


    /*Qualidade do Ar (Boa)     */
    --color-pressaodoar: #f6c85f;

    /*Qualidade do Ar (Moderada)*/
    --color-qualidadedoar: #22C55E;

    /*Qualidade do Ar (Ruim)    */
    --color-vermelho: #EF4444;

    /*Temperatura*/
    --color-temperatura: #F97316;

    /*Humidade*/
    --color-humidade: #38BDF8;

}

html {
    scroll-behavior: smooth;
}

div {
    color: var(text-(--color-cinza-escuro));
}